<div class="main">
    <div>Please select a number of players:</div>
    <select [(ngModel)]="size" class="spaced">
        <option value="2">2 players</option>
        <option value="3">3 players</option>
        <option value="4">4 players</option>
        <option value="6">6 players</option>
        <option value="102">2 players with bots</option>
        <option value="103">3 players with bots</option>
        <option value="104">4 players with bots</option>
        <option value="106">6 players with bots</option>
    </select>
    <button (click)="play()" [disabled]="!size" class="spaced">Play</button>
</div>